* {
    font-family: Helvetica;
    font-size: 16px;
    color: $(EGGSHELL);
    background-color: $(BLACK);
}

QStatusBar{
    font-size: 13px;
    background-color: $(BLUE);
}

QStatusBar *{
    padding: -3px;
}

QMainWindow{
    background-color: $(BLACK);
}

QSplitter::handle{
    background-color: $(BLACK);
    border: 0px solid $(BLUE);
}

QPushButton{
    background-color: $(GRAY);
    border: 0px;
    padding: 3px;
}

QLabel{
    padding: 3px;
}